.fullheight {
  height: 100%;
}

.xc {
  display: flex; 
  flex-direction: column; 
  align-items: center; /* Horizontale Zentrierung */
  justify-content: center; /* Vertikale Zentrierung */
}

.timer-title {
  font-size: 1.5em; 
  margin-bottom: 20px; /* Unterer Rand */
}

.start-button {
  margin-top: 10px; /* Oberer Rand */
}
