/* Notification.css */
.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.timer-title {
  font-size: 1.5em;
  margin-bottom: 20px; /* Space between the title and button */
}

.start-button {
  margin-top: 10px; /* Extra space between the title and button */
}
