.photo-item {
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
    border-radius: 5px; /* Optional: Abrundung der Ecken */
    transition: transform 0.1s ease-in-out; /* Sanfte Animation für das Drücken */
  }
  
  .photo-item:active {
    transform: scale(0.95); /* Skalierung beim Drücken */
  }
  
  .full-screen-image {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .full-screen-image .back-button {
    color: black;
    position: absolute;
    top: 0%;
    left: 1%;
    z-index: 1000; /* Stellt sicher, dass der Button über dem Bild liegt */
  }
  
  .full-screen-image ion-img {
    display: block; /* Entfernt eventuelle zusätzliche Margin/Padding */
    width: 100%;
    height: 100%;
  }
  